    <nav id="navbar">
        <div class="open-cross cross"><i class="ri-arrow-up-s-line"></i></i></div>
        <ul id="nav-uol">
            <li class="nav-uol-li"><a href="/">home</a></li>
            <li class="nav-uol-li"><a href="/projects">projects</a></li>
            <li class="nav-uol-li"><a href="/about">about me</a></li>
        </ul>
    </nav>
    <div class="open-cross open">
        <i class="ri-arrow-down-s-line"></i>
        <h2>Portfolio</h2>
    </div>