<%layout("/boilerplate/boilerplate.ejs")%>
<body>
    <div id="about-main">
        <div class="about-page1">
            <h2>About me</h2>
            <img src="https://res.cloudinary.com/dbaw4xx1j/image/upload/v1707653413/bikGaya_DEV/profile_qeo3nn.jpg" alt="personal photo">
            <p><b>Name:</b>Ayush sharma</p>
            <p><b>Profession:</b>Student</p>
            <p><b>Education:</b>Pursuing B tech in IT</p>
            <div class="socials">
                <a href="https://www.instagram.com/ayuxsh__1?igsh=MzZnZGE2ZGM1YzBs" target="_blank"><i class="ri-instagram-fill"></i></a>
                <a href="https://github.com/ayushsharma00001"  target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/ayush-sharma-0b42bb24a"  target="_blank"><i class="ri-linkedin-box-fill"></i></a>
                <a href="mailto:ayushkhandal6126@gmail.com"  target="_blank"><i class="ri-mail-send-fill"></i></a>
            </div>
            <a href="/Resume.pdf" download name="Resume" class="btn-download">Download Resume</a>
        </div>

    </div>




</body>
