<%layout("/boilerplate/boilerplate.ejs")%>


<body>
    <form action="/msg/pass/messages" method="get" id="pass-form">
        <input type="password" name="pass" id="" placeholder="Enter Secret Key">
        <button class="btn">Grant Access</button>
    </form>

</body>