*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
/* flashes */
.inner-div-error{
    padding: 1rem 2rem;
    background-color: rgba(255, 0, 0, 0.769);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}
.inner-div-success{
    padding: 1rem 2rem;
    background-color: rgba(0, 128, 0, 0.844);
    border-radius: 10px;
    display: flex;
    width: 15vw;
    justify-content: space-between;
    align-items: center;
}

/* navbar  */
#navbar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.803);
    position: absolute;
    top: -100%;
    z-index: 200;

}
.open-cross{
    padding:0 4rem;
    cursor: pointer;
    color: white;
}
.open-cross i{
    font-size: 4vw;

}
.open{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: sticky;
    z-index: 250;
    background-color: transparent;

}
.open i{
    transition: all 0.5s linear;
    transition-delay: 0.2s;
    color: #000;
}
.open h2{
    font-weight: 500;
    color: #000;
    text-shadow: 6px 2px 10px #000;
}
#nav-uol{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 4rem;

}

.nav-uol-li{
    list-style: none;
}

.nav-uol-li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 300;
    color: #fff;
}


/* page-1  */
#page1{
    height: 92vh;
    width: 100%;
    display: flex;
    padding:0 4rem;
    


}
.page1-left{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}
.page1-left-img{
    width: 50%;
    height: 100%;
}
.page1-left img{
    background-color: white;
    border-radius: 50%;
    width: 80%;
    height: 100%;
    z-index: 8;

}
.page1-left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

}
.page1-left-text h4{
    font-size: 8vw;
    text-transform: uppercase;
    color: #F1D711;
}
.page1-left h2{
    font-size: 3rem;
    text-transform: uppercase;
}
.page1-left-text h3{
    text-transform: uppercase;
}
.page1-left-text p, .socials{
    margin-top: 0.5rem;

}
.socials a{
    color: #000;
    font-size: 1.5rem;
    padding-right:0.5rem;
}



















/* page-2  */
#page2{
    min-height: 110vh;
    width: 100%;
    background-color: #f1d711;
    z-index: 11;
    border-bottom-right-radius: 5rem;
}
#page2-h2{
    padding: 1.5rem 5.2rem;
    text-transform: uppercase;
}

.outer-skills-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 4rem;
    padding-bottom: 1rem;
}
.inner-skills-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 40vh;
    margin: 1rem;
    /* background-color: rgba(0, 0, 0, 0.47); */
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.5s linear;


}
.inner-skills-div:hover{
    background-color: rgba(0, 0, 0, 0.146);
    box-shadow: 0 5px 10px #000;


}
.inner-skills-div img{
    width: 5vw;

}

.inner-skills-div h4,p{
    padding-top: 0.5rem;
}



/* page-3  */
#page3{
    height: 105vh;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.594);
}

#page3-h2{
    padding: 1.5rem 5.2rem;
    text-transform: uppercase;
}
#msgForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inputs{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs input,textarea{
    width: 50%;
    padding: 0.4rem;
    border: none;
    outline: none;
}
.inputs .btn{
    padding: 0.6rem;
    border-radius: 5px;
    border: none;
    color: #000;
    font-weight: 600;
    background-color: #f1d711c7;
}













/* Show messages */
#pass-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
#pass-form input{
    margin: 0.5rem;
    padding: 5px;
}
.outer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-div{
    border-bottom: 2px solid #000;
    border-radius: 5px;
}












/* about page  */
#about-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.about-page1 img{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
}

.btn-download{
    text-decoration: none;
    border: 2px solid #f1d711;
    background-color: #f1d711;
    padding: 0.4rem;
    border-radius: 5px;
    margin-top: 0.4rem;
    color: black;

}